:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #0652dd;
    --secondary-color: #FFC312;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Times New Roman", Times, serif;
}

.logo h1 {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 24px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.navigat {
    overflow: hidden;
}

.navigat ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar span {
    height: 3px;
    width: 25px;
    background: var(--primary-color);
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.sidemenu_navigat {
    display: none;
    align-items: right;
}

/* Mobile and TAB menu */
@media (max-width: 1000px) {
    .navigat {
        display: none;
    }

    .sidemenu_navigat {
        display: flex;
        text-align: right;
    }

    .navigat .active {
        display: flex;
    }

    .navbar {
        display: none;
    }
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

nav {
    background-color: rgb(255, 255, 255, 1.0);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero img {
    border-radius: 5px;
}

.navigat li {
    margin-left: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    border-color: transparent;
}

.navigat li:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15%;
    padding-top: 5%;
    max-height: 100%;
    max-width: 80%;
    margin: 1rem auto -6rem;
}

.intro {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    line-height: var(--line-height);
}

.cover {
    text-align: left;
}

.learn,
.hire {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: 2px solid #fff;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.learn {
    background-color: var(--primary-color);
    border-color: transparent;
    color: #fff;
}

.learn:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.scllink,
.compname,
.projectt {
    color: #fff;
    border-color: transparent;
    font-size: 16px;
}

.scllink:hover,
.compname:hover,
.projectt:hover {
    border-color: var(--primary-color);
    color: var(--secondary-color);
}

.hire {
    background-color: transparent;
    color: var(--primary-color);
    border: transparent;
}

.hire:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.education,
.projects,
.professional,
.contact {
    justify-content: center;
    margin: 1rem auto -5rem;
    padding-top: 5%;
    padding-bottom: 15%;
    max-width: 80%;
    max-height: 100%;
}

/* Mobile and TAB Menu */
@media (max-width: 1000px) {
    .education,
    .projects,
    .professional,
    .contact {
        padding-top: 20%;
    }
}

.Education,
.Projects,
.Professional {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: var(--primary-color);
    color: #fff;
}

.education row {
    width: 100%;
}

.column {
    width: 100%;
}

.sclname,
.proname {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row:after {
    content: "";
    clear: both;
}

.fa {
    padding: 10px;
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 2px;
}

h3 {
    margin-bottom: auto;
    display: flex;
}

.contact input[type=text],
input[type=textarea],
input[type=email] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
}

.contact .submit {
    min-height: 12px;
    background-color: transparent;
    border-color: blue;
    color: blue;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
}

.contact .submit:hover {
    background-color: blue;
    border-color: transparent;
    color: white;
}

.contact td {
    padding: 10px;
}

a:hover {
    color: white;
    text-shadow: 0 0 3px var(--primary-color);
}

a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

.professional a {
    color: var(--primary-color);
    font-size: 14px;
}

.professional a:hover {
    color: white;
    text-shadow: 0 0 3px var(--primary-color);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup p:hover {
    font-weight: bold;
}

.res li {
    display: inline
}

.res {
    display: inline;
}